:root {
    --text-color-default: #ebcf00;
    --background-default: #000;
    --background-tweet-default: #333;
}

body {
    background-color: var(--background-default);
    background-image: url("/space-background1.png");
    background-size: 100px;
    background-repeat: repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
