.sidebar {
	padding: 20px;
	background-color: #008080;
	font-size: 18px;
	border: 3px outset #FFFFFF;
	background-image: url('https://modal-public-assets.s3.amazonaws.com/twitter95/vertical-banner.png');
	background-repeat: repeat;
	color: #FFFF00;
	min-width: 20%;
	max-width: 20%;
	background-color: #008080;
}

.sidebar div,
.sidebar img {
	margin: auto;
}

.sidebarLeft {
	margin-right: 4rem;
}

.sidebar h2,
.sidebar p {
	margin: 10px 0;
}


.sidebarRight {
	margin-left: 4rem;
	min-width: 20%;
	max-width: 20%;
}

.sidebarOption {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}

.sidebarOption h2 {
	margin-left: 10px;
}

.sidebar img {
	width: 50px;
	margin-bottom: 20px;
}
