#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarOption {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.sidebarOption h2 {
  margin-left: 10px;
}
.sidebar img {
  width: 50px;
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.tweet {
  padding: 20px;
  border-bottom: 1px solid #e6ecf0;
}

.tweet__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet__header h3 {
  margin-left: 10px;
}

.tweet__body {
  margin-bottom: 10px;
}

.tweet__image {
	width: 100%;
	margin-bottom: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #e6ecf0;
}

.header h2 {
	font-size: 20px;
}
