:root {
	--text-color-light: #333;  
	--background-light: #99e5e9; 

	--text-color-dim: #EEE;
	--background-dim: #1B2A41;

	--text-color-dark: #CCC;
	--background-dark: #000;

	--text-color-default: #ebcf00; 
	--background-default: #000; 
	--background-tweet-default: #333;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	color: var(--text-color-default);
	background-color: var(--background-default);
	background-image: url("../public/space-background1.png");
	background-size: 100px;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: wrap !important;
}

body.light {
	--text-color-default: var(--text-color-light);
	--background-default: var(--background-light);
	background-image: none;  
}

body.dim {
	--text-color-default: var(--text-color-dim);
	--background-default: var(--background-dim);
	background-image: none;  
}

body.dark {
	--text-color-default: var(--text-color-dark);
	--background-default: var(--background-dark);
	background-image: none;  
}

#root {
	width: 100%;
	margin: 10px 10px;
	padding: 10px 10px;
	text-align: center;
}

.tweet {
	width: 80%;
	max-width: 600px;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  /* font-size: 4px; */
  color: #000000;
  background: #c0c0c0;
  border: 2px outset #ffffff;
  padding: 10px;
  margin: 20px auto;
	overflow: wrap;
  box-shadow: 2px 2px 0px #000000;
	margin-left: auto;
	margin-right: auto;
}

.menuitem{
	text-wrap: wrap;
	overflow: wrap;

}
.tweetText, .tweetAuthor, .tweetfakeTime, .tweetRoot, .tweetQuoted, .tweetRetweeted, .tweetLikedBy {
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px 0;
  background: white;
	max-width: 500px;
	overflow: visible;
	white-space: normal;
}


.tweetTextReal{
	overflow: visible;
	white-space: normal;
}

.tweetMedia img {
  display: block;
  margin: 5px auto;
}

.tweetMedia, .tweetRoot, .tweetQuoted, .tweetRetweeted {
  display: none;
}

.tweetMedia:has(img), .tweetRoot:has(p), .tweetQuoted:has(p), .tweetRetweeted:has(p) {
  display: block;
}

.tweetAuthor:before {
  content: '';
	background: #000080;
  display: block;
  height: 18px;
  color: white;
  padding: 0px 0px;
	margin: 0px 0px;
  font-weight: bold;
	width: 100%;
}

.tweetAuthor p, .tweetfakeTime p, .tweetRoot p, .tweetQuoted p, .tweetRetweeted p, .tweetLikedBy p {
  margin: 0;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.tweet:hover {
  border-color: #808080;
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	border-bottom: 1px solid var(--background-default);
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 18px; 
	color: var(--text-color-default);
	border: 3px outset #FFFFFF;
}

.app {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	height: 100%;
}

.sidebar {
	padding: 20px;
	background-color: #008080; 
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 18px; 
  border: 3px outset #FFFFFF;
	max-width: 200px; 
}

.sidebarLeft {
	background-color: #008080;
  color: #FFFF00;
	background-image: url('https://www.tacobellfoundation.org/files/LMS_Gradient_tealPurple2-1-1600x720.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
}

.sidebarLeft h2, .sidebarLeft p {
  margin: 10px 0; 
}

.tweetButton {
  background-color: #00ffe5; 
  color: #00ffe5; 
  border: 2px outset #FFFFFF; 
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
	border: 2px outset #a0fff6;
}

.sidebar button:hover {
  background-color: #00ffe5; 
	color: #002521;
}


.sidebarRight {
	color: rgb(238, 0, 255);
	background-image: url('https://www.tacobellfoundation.org/files/LMS_Gradient_tealPurple2-1-1600x720.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.sidebarOption {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}

.sidebarOption h2 {
	margin-left: 10px;
}

.sidebar img {
	width: 50px;
	margin-bottom: 20px;
}

@keyframes tiltAnimation {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.logo-animate {
  display: block; 
  animation: tiltAnimation 1s infinite; 
  transition: transform 0.3s; 
}


.feed {
	flex: 3;
	max-width: 600px;
	min-width: 300px;
	margin: auto;
	background-color: #f0f0f0;
}
