:root {
	--text-color-light: #333;  
	--background-light: #99e5e9; 

	--text-color-dim: #EEE;
	--background-dim: #1B2A41;

	--text-color-dark: #CCC;
	--background-dark: #000;

	--text-color-default: #ebcf00; 
	--background-default: #000; 
	--background-tweet-default: #333;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	color: var(--text-color-default);
	background-color: var(--background-default);
	background-image: url("../public/space-background1.png");
	background-size: 100px;
	background-repeat: repeat;
}

body.light {
	--text-color-default: var(--text-color-light);
	--background-default: var(--background-light);
	background-image: none;  
}

body.dim {
	--text-color-default: var(--text-color-dim);
	--background-default: var(--background-dim);
	background-image: none;  
}

body.dark {
	--text-color-default: var(--text-color-dark);
	--background-default: var(--background-dark);
	background-image: none;  
}

#root {
	max-width: 1280px;
	margin: 10px 10px;
	padding: 10px 10px;
	text-align: center;
}
/* Base styling for the window appearance */

.tweet {
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 12px;
  color: #000000;
  background: #c0c0c0;
  border: 2px outset #ffffff;
  padding: 10px;
  margin: 20px;
  box-shadow: 2px 2px 0px #000000;
}

.tweetText, .tweetAuthor, .tweetfakeTime, .tweetRoot, .tweetQuoted, .tweetRetweeted, .tweetLikedBy {
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px 0;
  background: white;
}

.tweetMedia img {
  display: block;
  margin: 5px auto;
}

.tweetMedia, .tweetRoot, .tweetQuoted, .tweetRetweeted {
  display: none;
}

.tweetMedia:has(img), .tweetRoot:has(p), .tweetQuoted:has(p), .tweetRetweeted:has(p) {
  display: block;
}

.tweetAuthor:before {
  content: '';
	background: #000080;
  display: block;
  height: 18px;
  color: white;
  padding: 0px 0px;
	margin: 0px 0px;
  font-weight: bold;
	width: 100%;
}

.tweetAuthor p, .tweetfakeTime p, .tweetRoot p, .tweetQuoted p, .tweetRetweeted p, .tweetLikedBy p {
  margin: 0;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.tweet:hover {
  border-color: #808080;
}

.feed .header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid var(--background-default);

}

.header h2 {
	font-size: 20px;
}

.app {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.sidebar {
	width: 20%;
	padding: 20px;
	background-color: var(--background-default);
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.sidebar.right {
	background-color: white;
}

.sidebarOption {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px;
	cursor: pointer;
}

.sidebarOption h2 {
	margin-left: 10px;
}

.sidebar img {
	width: 50px;
	margin-bottom: 20px;
}

.sidebar button {
	width: 100%;
	padding: 10px;
	background-color: var(--background-default);
	color: var(--text-color-default);
	border: none;
	border-radius: 30px;
	font-weight: bold;
	cursor: pointer;
}

.feed {
	flex: 2;
}
